<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<header th:fragment="_header" xmlns:th="http://www.w3.org/1999/xhtml">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<a class="nav-bar " th:href="@{/home}">DIGI DINOS</a>
			</div>

			<div class="collapse navbar-nav ml-auto" id="navbarResponsive">
				<form class="navbar-form">
					<div class="input-group no-border">
						<input type="text" name="name" class="form-control"
							placeholder="Search Product ...">
						<button type="submit"
							class="btn btn-white btn-round btn-just-icon">
							<i class="material-icons">search</i>
							<div class="ripple-container"></div>
						</button>
					</div>
				</form>
				<ul class="navbar-nav ml-auto">

					<li class="nav-item"><a class="nav-link"
						th:href="@{/productList}"> Product List </a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/shoppingCart}"> My Cart </a></li>
					<!-- <th:block
						sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/orderList}"> Order List </a></li>
					</th:block> -->
					<!-- <th:block sec:authorize="hasRole('ROLE_MANAGER')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/product}"> Create Product </a></li>
					</th:block> -->
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/accountInfo}"
							th:utext="${#request.userPrincipal.name}">...</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/logout}">Logout</a></li>
					</th:block>

					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/login}">Login</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
</header>
</html>