<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<slide th:fragment="_slide" xmlns:th="http://www.w3.org/1999/xhtml">
	<div id="carouselExampleIndicators" class="carousel slide"
		data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0"
				class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner">

			<th:block th:each="top5product : ${top5Products}">
				<div class="carousel-item"
					th:classappend="${top5Products.get(0).getId()} == ${top5product.id} ? 'active'">
					<img th:src="@{|/productImage?id=${top5product.id}|}" width="100%"
						height="500px" class="d-block w-100" alt="...">
				</div>
			</th:block>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>
	</slide>
</body>
</html>