<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<title>Shopping</title>
</head>
<body>
	<!-- <th:block th:include="/_header"></th:block> -->
	<div layout:fragment="content" class="container">
		<div class="dropdown-divider"></div>
		<h3 class="text-uppercase"><strong><a href="/">Product</a></strong></h3>
		<div class="row">
			<div style="height : 550px;" class="col-lg-3 col-sm-6 portfolio-item mb-4"
				th:each="prodInfo : ${paginationPages}">
				<div class="card h-100" >
					<a th:href="@{|/productDetail?id=${prodInfo.id}|}"><img class="card-img-top" style="padding: 10px;"
						th:src="@{|/productImage?id=${prodInfo.id}|}" width="700"
						height="200" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a th:href="@{|/productDetail?id=${prodInfo.id}|}"><span
								th:utext="${prodInfo.name}"></a>
						</h4>
						<div class="dropdown-divider"></div>
						<p class="card-description">
							Price : <span
								th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
						</p>
						<p class="card-description">Loại : ....</p>
						<p style="height : 130px;" class="card-description"><span th:utext="${prodInfo.desception}"></span></p>
						<div class="dropdown-divider"></div>
						<a class="btn btn-primary pull-right" th:href="@{|/buyProduct?id=${prodInfo.id}|}">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div th:include="paging"
			th:with="pagination=${pagination},routingName=home,routingSearch=${searchName}"></div>
		<div class="row mt-5">
			<div class="col-lg-6">
				<h2 class="text-uppercase" th:utext="${top1Product.name}"></h2>
				<p>Thông tin sản phẩm : </p>
				<ul>
					<li>Price : <span th:utext="${top1Product.price}" > </span> </li>
					<li>Category : <span th:utext="${top1Product.name}" > </span></li>
					<li>Working contact form with validation</li>
				</ul>
				<p> Mô tả : <span th:utext="${top1Product.desception}">
				</span></p>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid rounded" th:src="@{|/productImage?id=${top1Product.id}|}" style="width:700px; height: 350px "
					alt="">
			</div>
		</div>
		<hr>
		<div class="row mb-4">
			<div class="col-md-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum
					neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-md-4">
				<a class="btn btn-lg btn-secondary btn-block" href="#">Call to
					Action</a>
			</div>
		</div>
	</div>
</body>

</html>