

<div class="row">
	<div class="col-sm-12 col-md-5">
		<div class="dataTables_info" id="datatables_info" role="status"
			aria-live="polite">
			Showing <span th:utext="${(8*(paginationPages.getNumber())+1)}"></span>
			to
			<th:block
				th:if="${(8*(paginationPages.getNumber()+1))}>${paginationPages.getTotalElements()}">
				<span th:utext="${paginationPages.getTotalElements()}"></span>
			</th:block>
			<th:block
				th:if="${(8*(paginationPages.getNumber()+1))}<${paginationPages.getTotalElements()}">
				<span th:utext="${(8*(paginationPages.getNumber()+1))}"></span>
			</th:block>
			of <span th:utext="${paginationPages.getTotalElements()}"></span>
			entries
		</div>
	</div>
	<div class="col-sm-12 col-md-7">
		<div class="dataTables_paginate paging_full_numbers"
			id="datatables_paginate">
			<ul class="pagination justify-content-end">
				<li
					th:class="${(paginationPages.getNumber()+1)}==${pageNumber} ? 'page-item active':'page-item'"
					th:each="pageNumber, iStat : ${pagination}"><th:block
						th:if=${iStat.size}>
						<th:block th:switch="${pageNumber}">
							<a th:case="'Previous'" class="page-link svg-icon" >Previous</a>
							<a th:case="'Next'" class="page-link svg-icon">Next</a>
							<a th:case="'...'" class="page-link svg-icon">...</a>
							<th:block th:case="*">
								<a th:if="${iStat.index} == 0" class="page-link svg-icon"
									th:href="@{/{routing}/?name={search}&page={number}(routing=${routingName},search=${routingSearch}, number=${pageNumber})}"
									th:text='Previous'></a>
								<a th:if="${iStat.index} == ${iStat.size} -1"
									class="page-link svg-icon"
									th:href="@{/{routing}/?name={search}&page={number}(routing=${routingName},search=${routingSearch} ,number=${pageNumber})}"
									th:text='Next'></a>
								<a th:unless="${iStat.first} or ${iStat.last}"
									class="page-link svg-icon "
									th:href="@{/{routing}/?name={search}&page={number}(routing=${routingName},search=${routingSearch}, number=${pageNumber})}"
									th:text=${pageNumber}></a>
							</th:block>
						</th:block>
					</th:block></li>
			</ul>
		</div>
	</div>
</div>