<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<head>
<meta charset="utf-8" />
<title>Product Detail</title>
</head>

<body>
	<div layout:fragment="content" class="container" style="height: 500px">
		<br/> <br/> <br/> <br/>
		<div class="wrapper ">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Product Info</h4>
									<p class="card-category">Complete product info</p>
								</div>
								<div class="card-body">
									<form>
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Name : </label> <span
														th:utext="${productForm.name}"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Category : </label> <span
														th:utext="${productForm.name}"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Price : </label> 
													<span
														th:utext="${productForm.price}"></span>
												</div>
											</div>
										</div>
										<a th:href="@{|/buyProduct?id=${productForm.id}|}" class="btn btn-primary pull-right">Buy Now</a>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-profile">
								<div class="card-avatar">
									<a href="#pablo"> <img class="img"
										th:src="@{|/productImage?id=${productForm.id}|}" style="width:200px;height: 150px" />
									</a>
								</div>
								<div class="card-body">
									<h6 class="card-category text-gray"
										th:utext="${productForm.name}"></h6>
									<h4 class="card-title" th:utext="${productForm.price}"></h4>
									<p class="card-description" th:utext="${productForm.desception}" ></p>
									<!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
