<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<meta charset="UTF-8">
<title>Books Shop Online</title>
</head>
<body  >
	<div layout:fragment="content" class="container">
		<h2>Product</h2>
		<div class="row">
			<div  style="height : 550px;" class="col-lg-3 col-sm-6 portfolio-item mb-4"
				th:each="products : ${paginationPages}">
				<div class="card h-100">
					<a th:href="@{|/productDetail?id=${products.id}|}"><img class="card-img-top" style="padding: 10px;"
						th:src="@{|/productImage?id=${products.id}|}" width="700"
						height="200" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a th:href="@{|/productDetail?id=${products.id}|}"><span th:utext="${products.name}"></a>
						</h4>
						<div class="dropdown-divider"></div>
						<p class="card-description">
							Price : <span
								th:utext="${#numbers.formatDecimal(products.price,3,2,'COMMA')}"></span>
						</p>
						<p class="card-description">Loại : ....</p>
						<p style="height : 130px;" class="card-description"><span th:utext="${products.desception}"></span></p>
						<div class="dropdown-divider"></div>
						<a class="btn btn-primary pull-right" th:href="@{|/buyProduct?id=${products.id}|}">Buy Now</a>
				
					</div>
				</div>
			</div>
		</div>
		<br />
		<div th:include="paging" th:with="pagination=${pagination},routingName=productList,routingSearch=${searchName}"></div>
	</div>

</body>

</html>