<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<meta charset="utf-8" />
<title>Shopping Cart Confirmation</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<br /> <br /> <br />
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title">Customer Infomation</h4>
							</div>
							<div class="card-body">
								<form>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Name : <span
													th:utext="${myCart.customerInfo.name}"></span></label>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Email : <span
													th:utext="${myCart.customerInfo.email}"></span></label>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Phone : <span
													th:utext="${myCart.customerInfo.phone}"></span></label>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Address : <span
													th:utext="${myCart.customerInfo.address}"></span></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Total : <span
													class="total text-danger"
													th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
												</span></label>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">Order Table</h4>
								<p class="card-category">
									Total : <span class="total"
										th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
									</span>
								</p>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
											<th>Image</th>
											<th>Product ID</th>
											<th>Product Name</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Subtotal</th>
										</thead>
										<tbody>
											<tr th:each="cartLineInfo : ${myCart.cartLines}">
												<td><img class="product-image"
													th:src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}"
													height="50" width="75" /></td>
												<td><span th:utext="${cartLineInfo.productInfo.id}"></span>
													<input type="hidden" name="id"
													th:value="${cartLineInfo.productInfo.id}" /></td>
												<td><a th:href="@{|/productDetail?id=${cartLineInfo.productInfo.id}|}" th:utext="${cartLineInfo.productInfo.name}"></a></td>
												<td><span th:utext="${cartLineInfo.quantity}"></span></td>
												<td><span class="price"
													th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
												</span></td>
												<td class="text-danger"><span class="subtotal"
													th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
												</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div align="center">
					<form method="POST" th:action="@{/shoppingCartConfirmation}">
						<!-- Edit Cart -->
						<a th:href="@{/shoppingCart}" class="btn btn-primary btn-round">Edit
							Cart</a>
						<!-- Edit Customer Info -->
						<a th:href="@{/shoppingCartCustomer}"
							class="btn btn-primary btn-round">Edit Customer Info</a>
						<!-- Send/Save -->
						<input type="submit" value="Send"
							class="btn btn-primary btn-round" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>