<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<meta charset="UTF-8">
<title>Shopping Cart</title>
</head>
<body>
	<div layout:fragment="content" class="container" style="height: 500px">
		<br /> <br /> <br />
		<div class="container-fluid">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">My Cart</h4>
					<p class="card-category">Buy Product In Your Cart</p>

				</div>
				<th:block
					th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
					<div class="container ml-5">
						<br />
						<div class="row">
							<a th:href="@{/productList}" class="btn btn-primary btn-round">Buy Product</a>
						</div>
						<br />
					</div>
				</th:block>
				<th:block
					th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
					<form method="POST" th:object="${cartForm}"
						th:action="@{/shoppingCart}">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th>Image</th>
										<th>ID</th>
										<th>Name</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Subtotal</th>
										<th>Option</th>
									</thead>
									<tbody>
										<tr th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
											<td><img class="product-image"
												th:src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}"
												width="70" height="50" /></td>
											<td><span th:utext="${cartLineInfo.productInfo.id}"></span>
												<input type="hidden"
												th:name="|cartLines[${varStatus.index}].productInfo.id|"
												th:value="${cartLineInfo.productInfo.id}" /></td>
											<td><a th:href="@{|/productDetail?id=${cartLineInfo.productInfo.id}|}" th:utext="${cartLineInfo.productInfo.name}"></a></td>
											<td><span class="price"
												th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
											</span></td>
											<td><input
												th:name="|cartLines[${varStatus.index}].quantity|"
												th:value="${cartLineInfo.quantity}" /></td>
											<td><span class="subtotal"
												th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
											</span></td>
											<td class="td-actions"><a class="nav-link"
												th:href="@{|/shoppingCartRemoveProduct?id=${cartLineInfo.productInfo.id}|}">
													<i class="material-icons">delete</i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div align="center" style="clear: both">
							<input class="btn btn-primary btn-round" type="submit"
								value="Update Quantity" /> <a th:href="@{/productList}"
								class="btn btn-primary btn-round">Buy more product</a> <a
								th:href="@{/shoppingCartCustomer}"
								class="btn btn-primary btn-round">Ennter Customer Info</a>
						</div>
						<br />
					</form>
				</th:block>
			</div>
		</div>
		<br /> <br /> <br /> <br />
	</div>
</body>
</html>