<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		aria-controls="navigation-index" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="sr-only">Toggle navigation</span> <span
			class="navbar-toggler-icon icon-bar"></span> <span
			class="navbar-toggler-icon icon-bar"></span> <span
			class="navbar-toggler-icon icon-bar"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end">
		<form class="navbar-form">
			<div class="input-group no-border">
				<input type="text" value="" class="form-control" name="name"
					placeholder="Search name ...">
				<button type="submit" class="btn btn-white btn-round btn-just-icon">
					<i class="material-icons">search</i>
					<div class="ripple-container"></div>
				</button>
			</div>
		</form>
		<ul class="navbar-nav">
			<li class="nav-item dropdown"><a class="nav-link" href="#pablo"
				id="navbarDropdownProfile" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"> <i
					class="material-icons">person</i>
			</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="navbarDropdownProfile">
					<th:block sec:authorize="isAuthenticated()">
						<a class="dropdown-item" th:href="@{/admin/accountInfo}">Profile</a>
						<a class="dropdown-item" th:href="@{/admin/accountChangePassword}">Change Password</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/admin/logout}">Logout</a>
					</th:block>
				</div></li>
		</ul>
	</div>
</body>
</html>