<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Material Dashboard by Creative Tim</title>
</head>
<body class="">
	<div class="wrapper ">
		<th:block th:include="back-end/_sideBar"></th:block>
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo">Order List</a>
					</div>
					<th:block th:include="back-end/_navBar"></th:block>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title ">Order Table</h4>
									<p class="card-category">Total Order Count:</p>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>Order Num</th>										
												<th>Customer Name</th>
												<th>Customer Address</th>
												<th>Customer Email</th>
												<th>Order Date</th>
												<th>Amount</th>
												<th>View Info</th>
											</thead>
											<tbody>
												<tr th:each="orderInfo : ${paginationPages}">
													<td><span th:utext="${orderInfo.orderNum}"></span></td>											
													<td><a th:href="@{|/admin/order?orderId=${orderInfo.id}|}" th:utext="${orderInfo.customerName}"></a></td>
													<td><span th:utext="${orderInfo.customerAddress}"></span></td>
													<td><span th:utext="${orderInfo.customerEmail}"></span></td>
													<td><span
														th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></span></td>
													<td class="text-danger"><span
														th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"></span></td>
													<td><a
														th:href="@{|/admin/order?orderId=${orderInfo.id}|}"><i
															class="material-icons">info</i></a></td>
												</tr>
											</tbody>
										</table>
										<div th:include="paging" th:with="pagination=${pagination},routingSearch=${searchName},routingName='admin/orderManager'"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
