<!--
=========================================================
 Material Dashboard - v2.1.1
=========================================================

 Product Page: https://www.creative-tim.com/product/material-dashboard
 Copyright 2019 Creative Tim (https://www.creative-tim.com)
 Licensed under MIT (https://github.com/creativetimofficial/material-dashboard/blob/master/LICENSE.md)

 Coded by Creative Tim

=========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en">

<head>
<title>Material Dashboard by Creative Tim</title>
</head>

<body class="">
	<div class="wrapper ">
		<th:block th:include="back-end/_sideBar"></th:block>
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo">Order Detail</a>
					</div>
					<th:block th:include="back-end/_navBar"></th:block>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Customer Infomation</h4>
								</div>
								<div class="card-body">
									<form>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Name : <span
														th:utext="${orderInfo.customerName}"></label>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Email : <span
														th:utext="${orderInfo.customerEmail}"></label>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Phone : <span
														th:utext="${orderInfo.customerPhone}"></label>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Address : <span
														th:utext="${orderInfo.customerAddress}"></label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Total : <span
														class="total"
														th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
													</span></label>
												</div>
											</div>
										</div>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title ">Order Table</h4>
									<p class="card-category">
										Total : <span class="total"
											th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
										</span>
									</p>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>Product Code</th>
												<th>Product Name</th>
												<th>Quantity</th>
												<th>Price</th>
												<th>Amount</th>
											</thead>
											<tbody>
												<tr th:each="orderDetailInfo : ${orderInfo.details}">
													<td><span th:utext="${orderDetailInfo.productCode}"></span></td>
													<td><span th:utext="${orderDetailInfo.productName}"></span></td>
													<td><span th:utext="${orderDetailInfo.quanity}"></span></td>
													<td><span
														th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></span></td>
													<td class="text-danger"><span
														th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>
