<!DOCTYPE html>
<html lang="en">

<head>
<title>Product Manager</title>
</head>

<body class="">
	<div class="wrapper ">
		<th:block th:include="back-end/_sideBar"></th:block>
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo">Product List</a>
					</div>
					<th:block th:include="back-end/_navBar"></th:block>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<div class="row">
										<div class="col-md-10">
											<h4 class="card-title ">Product Table</h4>
											<p class="card-category">Manager Product</p>
										</div>
										<div class="col-md-2">
											<a th:href="@{/admin/product}"
												class="btn btn-primary btn-round">Insert</a>
										</div>
									</div>
								</div>

								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>Image</th>
												<th>ID</th>
												<th>Name</th>
												<th>Category</th>
												<th>Price</th>
												<th>Description</th>
												<th>Option</th>
											</thead>
											<tbody>
												<tr th:each="prodInfo : ${paginationPages}">

													<td><img class="product-image"
														th:src="@{|/productImage?id=${prodInfo.id}|}" height="50"
														width="75" /></td>
													<td><span th:utext="${prodInfo.id}"></span></td>
													<td><a th:href="@{|/admin/product?id=${prodInfo.id}|}" th:utext="${prodInfo.name}"></a></td>
													<td>...</td>
													<td><span 
														th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></td>
													<td><span class="d-inline-block text-truncate" style="max-width: 150px;" th:utext="${prodInfo.desception}"></span></td>
													<td class="td-actions">
														<div class="row">
															<a class="nav-link"
																th:href="@{|/admin/product?id=${prodInfo.id}|}"> <i
																class="material-icons">edit</i>
															</a> <a class="nav-link"
																th:href="@{|/admin/deleteProduct?id=${prodInfo.id}|}">
																<i class="material-icons">delete</i>
															</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<div th:include="paging" th:with="pagination=${pagination},routingName='admin/productManager',routingSearch=${searchName}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
