<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Material Dashboard by Creative Tim</title>
</head>

<body class="">
	<div class="wrapper ">
		<th:block th:include="back-end/_sideBar"></th:block>
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo">Product Info</a>
						<div th:if="${errorMessage!= null}" class="error-message"
							th:utext="${errorMessage}"></div>
					</div>
					<th:block th:include="back-end/_navBar"></th:block>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Product Info</h4>
									<p class="card-category">Complete product info</p>
								</div>
								<div class="card-body">
									<form th:object="${productForm}" th:action="@{/admin/product}"
										method="POST" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<th:block th:if="${!productForm.newProduct}">
														<label class="bmd-label-floating">ID * </label>
														<span th:utext="${productForm.id}"></span>
														<input type="hidden" th:field="*{id}" />
													</th:block>

													<p class="text-danger mt-2">
														<span class="error-message"
															th:if="${#fields.hasErrors('id')}" th:errors="*{id}">..</span>
													</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Name</label> <input
														type="text" class="form-control" th:field="*{name}">
													<p class="text-danger mt-2">
														<span class="error-message"
															th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
													</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Price</label> <input
														type="text" class="form-control" th:field="*{price}">
												</div>
												<p class="text-danger mt-2">
													<span class="error-message"
														th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label class="bmd-label-floating">Upload Imgae</label> <input
													type="file" class="form-control" th:field="*{fileData}">
													<input type="hidden" class="form-control" th:field="*{image}">
											</div>
										</div>

										<p class="text-danger mt-2">
											<span class="error-message"
												th:if="${#fields.hasErrors('fileData')}"
												th:errors="*{fileData}">..</span>
										</p>

										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Desception </label> <textarea
														 class="form-control" th:field="*{desception}" rows="5">
														</textarea>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary pull-right">Upload
											Product</button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-profile">
								<div class="card-avatar">
									<a th:href="@{|/admin/product?id=${productForm.id}|}"> <img class="img"
										th:src="@{|/productImage?id=${productForm.id}|}"
										style="width: 200px; height: 150px" />
									</a>
								</div>
								<div class="card-body">
									<h6 class="card-category text-gray"
										th:utext="${productForm.name}"></h6>
									<h4 class="card-title" th:utext="${productForm.price}"></h4>
									<p class="card-description" th:utext="${productForm.desception}"></p>
									<!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
